<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Lab4Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WILLY-LAPTOP\SQLEXPRESS;Initial Catalog=Lab4;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Lab4.Properties.Settings.Lab4ConnectionString" connectionString="Data Source=WILLY-LAPTOP\SQLEXPRESS;Initial Catalog=Lab4;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>