<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/cst8221_lab4/src/CheckBox/CheckBoxTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="CheckBox.CheckBoxTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="cst8221_lab4"/>
</launchConfiguration>
